html {
	box-sizing: border-box;
	font-family: "Montserrat", "Proxima Nova", "Arial", sans-serif;
	font-size: 16px;
	line-height: 1.3;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
html, body {width: auto!important; overflow-x: hidden!important} 
body {
	min-width: 20em;
	margin: 0;
	min-height: 100vh;
	width: 100%;

	height: 100%;
	display: flex;
	flex-direction: column;
	background: #fff;
	-webkit-text-size-adjust: none;
	-webkit-overflow-scrolling: touch;
}
a, label{
	-webkit-tap-highlight-color: transparent;
}
input[type=text], input[type=submit], textarea{
	-webkit-appearance: none;
} 


a {
	text-decoration: none;
	color: #fff;
}

img {
	/*адаптивная верстка масштабирование img */
	height: auto;
	/* еще больше контроля с max-width */
	max-width: 1440px;
}

h1 {
	font-size: 3em;
	color: #fff;
}

h2 {
	font-size: 48px;
}

button {
	outline: none;
	/* Для синий ободки */
	border: 0;
	background: transparent;
}


.test {
	background-color: #333;
	border: 1px solid rgb(24, 84, 133);
}


#sdvig__okompanii,
#sdvig__arenda,
#sdvig__pokupka,
#sdvig__kontakti {

	-webkit-background-clip: content-box;
	background-clip: content-box;
}


.wrap {
	height: 3000px;
	background: red;
}

.header {
	background: #000;
	height: 0px;
	top: -187px;
	transition: top 0.5s;
	text-align: center;
}

.header.fixed {
	width: 100%;
	position: fixed;
	top: 0;
	height: 187px;
	background: #000;
}

.header.fixed~.wrap {
	margin-top: 187px;
}


.grid__topmenu {
	display: grid;
	grid-template-columns: 1fr 320px 1120px 1fr;
	grid-template-rows: 187px;
}

.grid__topmenu img {
	padding: 36px 104px 0px 99px;
}

.grid__topmenu nav {
	padding: 81px 104px 0px 321px;
}


.menu__grid {
	display: grid;
	grid-template-columns: 135px 150px 165px 180px 175px 1fr;
	justify-items: start;
	align-items: start;
}

.menu_btn {
	font-size: 1.2em;
	font-weight: 600;
	line-height: 1.5em;
}



.grid__header {
	display: grid;
	grid-template-columns: 1fr 430px 920px 1fr;
	grid-template-rows: 445px 458px;
	background-image: url(../img/foto__header.jpg);
	background-repeat: no-repeat;
	background-position: top right;
	background-color: #000;
}

.grid__header img {
	margin-left: 90px;
	margin-top: 20px;
}

.grid__header h1 {
	padding: 41px 0px 0px 100px;
	font-size: 4.37em;
	line-height: 1.1em;
}

.grid__header nav {
	padding: 80px 0px 0px 0px;
}



.grid__about {
	display: grid;
	grid-template-columns: 1fr 550px 792px 1fr;
	grid-template-rows: 725px;
}

.txt_about {
	padding: 72px 64px 0px 96px;
	font-size: 20px;
	font-weight: 600;
}

.txt_about p {
	line-height: 1.2em;
}

.img__about {
	padding: 126px 98px 0px 0px;
}
.img__about-img {
	width: 100%;
	max-width: 694px;
	height: 100%;
	max-height: 473px;
}



.wrap__sect-arenda {
	background-color: #000;
	color: #fff;
	margin-top: 50px;
}
.wrap__section{
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 100%;
	max-width: 1450px;
}
.wrap__heading {
	display: block;
	width: 100%;
	max-width: 530px;
	font-size: 48px;
}
.wrap__item {
	display: block;
	width: 500px;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.1em;
}

.txt_arenda {
	padding: 40px 0px 0px 80px;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.1em;

}

.txt_arenda h3 {
	line-height: 1.1em;
}

.img__arenda {
	padding: 77px 56px 1px 99px;
}
.img__arenda-img {
	width: 515px;
	height: 516px;
}

.txt_pokupka {
	padding: 175px 40px 0px 10px;
	font-size: 1.3em;
	font-weight: 400;
	line-height: 1.1em;
}

.img__pokupka {
	padding: 17px 125px 77px 9px;
}

.txt_pokupka h3 {
	line-height: 1.1em;
}
.img__map {
	z-index: 50;
	position: relative;
	margin-left: 50px;
	font-size: 48px;
}

.img__map-img {
	width: 100%;
	max-width: 300px;
}
.map__contact {
	width: 370px;
	height: 400px;
	position: absolute;
	top: 36px;
	right: 150px;
	background-image: url(../img/adress.svg);
	background-repeat: no-repeat;
	background-size: contain;
	padding: 56px 0px 0px 0px;
	text-align: center;
}
.map__contact h2 {
	font-size: 24px;
	font-weight: 800;
	color: #fff;
	line-height: 1em;
	margin: 0;
}
.map__contact p {
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	line-height: 1em;
}
.map__contact a {
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	line-height: 1em;
}
.map__contact h3 {
	font-size: 20px;
	font-weight: 600;
	color: #fff;
}

[class*="copyrights-pane"] {
	display: none !important;
}
#container {
	margin: 10px;
}

#map {
	z-index: 5;
	width: 100%;
	height: 450px;
	border: 1px solid #DCDCDC;
	margin: 0;
	padding: 0;
	background-color:#ccc;
	overflow:hidden;
	border-radius: 1%;
}

.smallMap {
	width: 800px !important;
	height: 300px !important;
}

#toggler {
	left: 5px;
	top: 5px;
	font-size: 12px;
}

#checkbox_block {
	left: 163px;
	top: 8px;
	font-size: 13px;
	text-shadow: 1px 1px 0 #FFF;
}






.grid__footer {
	font-size: 18px;
	font-weight: 400;
	background-color: #000;
	color: #fff;
	line-height: 0.3em;
}
.footer__wrap {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
.footer__text__1 {
	font-size: 10px;
}
.footer__text__3 {
	font-size: 0.89em;

}
.footer__text__4 {
	display: flex;
	justify-content: space-between;
	align-items: center;

}




/*блок соц ответственность*/

.social {
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	padding: 10px 0 100px 0;

}
.social-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.social-wrap-txt h3 {
	line-height: 1.1em;
}
.social-wrap-img {
	width: 100%;
	max-width: 375px;
	height: 100%;
	max-height: 376px;
}

.wrap__sec-social {
	background-color: #000;
	color: #fff;
}

/* блок наши принципы*/

.principle {
	padding: 100px 0 100px 0;

}
.principle-wrap {
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
}
.principle__heading {
	width: 100%;
	max-width: 452px;
	margin: 0 auto;
	margin-bottom: 50px;
}
.principle-wrap-txt h3 {
	line-height: 1.1em;
}
.principle__item {
	display: block;
	width: 100%;
	max-width: 700px;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.2em;
	list-style-type: none;
	padding: 20px;
}
.principle__item li{
	margin-bottom: 2px;
}
.principle__block {
	display: flex;
	justify-content: space-between;
}
.principle__item img {
	width: 25px;
	height: 25px;
	margin-right: 10px;
}
.prin__wrap {
	display: flex;
	align-items: center;
}


/* Кнопка наверх*/

.scrollup{
	z-index: 1000;
	width:40px;
	height:40px;
	opacity:0.6;
	position:fixed;
	bottom:50px;
	right:100px;
	display:none;
	text-indent:-9999px;
	background: url('../img/icon_top.png') no-repeat;
	background-size: contain;
	}

/* ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff*/




@media (max-width: 1360px) {
	.header {
		display: none;
	}

	.grid__header {
		display: grid;
		grid-template-columns: 0fr 372px 372px 0fr;
		grid-template-rows: 531px 531px;
		justify-content: center;
		background-image: url(../img/foto__header2.png);
		background-repeat: no-repeat;
		background-position: top right;
		background-color: #000;
	}

	.grid__header img {
		padding: 52px 0px 0px 37px;
	}

	.grid__header h1 {
		padding: 65px 0px 0px 37px;
		font-size: 3.9em;
		line-height: 1.1em;
	}

	.grid__header nav {
		z-index: -2;
	}

	img.burger__menu {
		padding: 98px 0px 0px 285px;
	}

	.menu__grid {
		display: grid;
		grid-template-columns: 1px 1px 1px 1px 1px;
		justify-items: start;
		align-items: start;
	}
	


	.grid__about {
		display: grid;
		grid-template-columns: 744px;
		grid-template-rows: 0fr 503px 546px 0fr;
		justify-content: center;
	}

	.txt_about {
		padding: 44px 37px 0px 37px;
		font-size: 1.52em;
		font-weight: 600;
	}

	.txt_about p {
		line-height: 1.19em;
		padding: 3px 0px;
	}

	.img__about {
		padding: 0px 37px 0px 37px;
	}

	.wrap__sect-arenda {
		background-color: #000;
		color: #fff;
	}
	.wrap__section{
		display: block;
		width: 100%;
		max-width: 1450px;
		margin: 0 auto;
	}
	.wrap__heading {
		font-size: 48px;
	}
	.wrap__item {
		display: block;
		font-size: 24px;
		width: 500px;
		font-weight: 600;
		line-height: 1.2em;
	}
	.wrap__section {
		margin-bottom: 50px;
	}


	/* .grid__arenda {
		display: grid;
		grid-template-columns: 744px;
		grid-template-rows: 0fr 510px 567px 0fr;
		background-color: #000;
		justify-content: center;
		color: #fff;
	} */

	.txt_arenda {
		z-index: 5;
		padding: 67px 10px 0px 0px;
		font-size: 1.52em;
		font-weight: 600;
	}

	.img__arenda {
		padding: 81px 32px 0px 207px;
	}
	.wr {
		width: 100%;
		max-width: 500px;
		margin: 0 auto;
	}
	.flex__col {
		display: flex;
		flex-direction: column-reverse;
	}
	.img__arenda-img {
		width: 415px;
		height: 416px;
	}

	.txt_arenda h3 {
		padding: 0px 32px 0px 0px;
		line-height: 1.1em;
	}

	/* .grid__pokupka {
		display: grid;
		grid-template-columns: 744px;
		grid-template-rows: 0fr 1px 1150px 0fr;
		background-color: #000;
		justify-content: center;
		color: #fff;
	} */

	.txt_pokupka {
		z-index: 5;
		font-size: 1.52em;
		font-weight: 600;
		padding: 5px 32px 0px 0px;
	}

	.img__pokupka {
		padding: 5px 32px 0px 207px;
	}

	.txt_pokupka h3 {
		padding: 0px 0px 0px 0px;
		line-height: 1.1em;
	}
	.img__map {
		margin-left: 50px;
		font-size: 38px;
	}
	.img__map-img {
		width: 100%;
		max-width: 300px;
	}
	.map__contact {
		width: 270px;
		height: 300px;
		position: absolute;
		top: 24px;
		right: 100px;
		padding-top: 23px;
		border-radius: 3%;
	}
	.map__contact h2 {
		font-size: 20px;
		font-weight: 800;
	}
	.map__contact a {
		font-size: 16px;
		font-weight: 400;
	}
	.map__contact p {
		font-size: 16px;
		font-weight: 400;
	}
	.map__contact h3 {
		font-size: 18px;
		font-weight: 600;
	}
	#map {
		width: 100%;
		height: 330px;
	}
	.social-wrap {
		display: block;
	}
	.social {
		width: 100%;
		max-width: 375px;
		margin: 0 auto;
		padding: 10px 0 100px 0;
	
	}
	.social-wrap-txt {
		margin-left: 20px;
	}
	.social-wrap-txt h3 {
		line-height: 0.9em;
	}
	.wrap__sec-social {
		margin-top: 50px;
	}
	.scrollup{
		right:50px;
		}

		/* блок наши принципы*/


.principle-wrap {
	max-width: 1350px;
}
.principle__heading {
	line-height: 0.9em;
}
.principle-wrap-txt h3 {
	line-height: 1.1em;
}
.principle__item {
	max-width: 625px;
	font-size: 24px;
}
.principle__block {
	display: flex;
	justify-content: space-between;
}

}






/* ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff*/






@media screen and (max-width: 740px) {
	h2 {
		font-size: 28px;
	}

	.header {
		display: none;
	}

	.grid__header {
		display: grid;
		grid-template-columns: 0fr 160px 160px 0fr;
		grid-template-rows: 273px 273px;
		justify-content: center;
		background-image: url(../img/foto__header3.png);
		background-repeat: no-repeat;
		background-position: top right;
		background-color: #000;
	}

	.grid__header img {
		padding: 28px 60px 0px 15px;
	}

	.grid__header h1 {
		padding: 35px 0px 0px 15px;
		font-size: 1.85em;
		line-height: 1.1em;
	}

	.grid__header nav {
		z-index: -2;
	}

	img.burger__menu {
		padding: 43px 0px 0px 117px;
		width: 145px;
	}

	.grid__about {
		display: grid;
		grid-template-columns: 320px;
		grid-template-rows: 0fr 280px 258px 0fr;
		justify-content: center;
	}

	.txt_about {
		padding: 40px 37px 0px 15px;
		font-size: 0.75em;
		font-weight: 600;
		line-height: 1.17em;
	}
	.txt_about p {
		font-size: 16px;
		font-weight: 600;

	}

	.img__about {
		padding: 15px 14px 0px 15px;
	}
	.grid__arenda {
		width: 100%;
		max-width: 740px;
	}
	.wr {
		width: 100%;
		max-width: 500px;
		margin: 0 auto;
	}
	.txt_arenda {
		z-index: 5;
		padding: 0px 40px 0px 110px;
		font-size: 0.73em;
		font-weight: 600;
	line-height: 1.3em;}

	.img__arenda {
		padding: 24px 0px 0px 110px;
	}
	.img__arenda-img {
		width: 290px;
		height: 291px;
	}

	.wrap__sect-arenda {
		background-color: #000;
		color: #fff;
	}
	.wrap__section{
		display: block;
		width: 100%;
		max-width: 1450px;
		margin: 0 auto;
	}
	.wrap__heading {
		font-size: 28px;
	}
	.wrap__item {
		display: block;
		width: 300px;
		font-size: 16px;
		font-weight: 600;
		
	}

	.grid__pokupka {
		width: 100%;
		max-width: 740px;
		margin-bottom: 50px;
	}

	.grid__pokupka button {
		padding: 0px 80px 0px 0px;
	}

	.txt_pokupka {
		z-index: 5;
		padding: 30px 84px 0px 110px;
		font-size: 0.73em;
		font-weight: 600;
		line-height: 1.2em;}

	.img__pokupka {
		padding: 0px 0px 0px 110px;
	}

	.txt_pokupka h2 {
		padding: 0px 150px 0px 0px;
		line-height: 1.1em;
	}
	.img__map {
		margin-left: 0px;
		font-size: 38px;
	}
	/* .grid__map {
		display: flex;
		justify-content: ;
		width: 100%;
		max-width: 740px;
		margin: 0 auto;
		background-image: url(../img/map.jpg);
		background-repeat: no-repeat;
		background-size: auto;
		
	} */

	.map__contact {
		width: 250px;
		height: 300px;
		position: absolute;
		top: 35px;
		right: 20px;
		padding-top: 23px;
	}
	.map__contact h2 {
		font-size: 18px;
		font-weight: 800;
	}
	.map__contact a {
		font-size: 14px;
		font-weight: 400;
	}
	.map__contact p {
		font-size: 14px;
		font-weight: 400;
		padding: 0px 5px 0px 5px;
	}
	.map__contact h3 {
		font-size: 16px;
		font-weight: 600;
	}
	#map {
		width: 100%;
		height: 330px;
	}

	.grid__footer {
		font-size: 12px;
		padding: 0px 20px 0px 20px;
	}
	.scrollup{
		right:40px;
		}

				/* блок наши принципы*/
.principle {
	padding: 100px 0 50px 0;
				
}
.principle-wrap {
	max-width: 740px;
}
.principle__block {
	width: 100%;
	max-width: 370px;
	margin: 0 auto;
}
.principle__heading {
	width: 263px;
}
.principle-wrap-txt h3 {
	line-height: 1.1em;
}
.principle__item {
	max-width: 370px;
	font-size: 16px;
	padding: 0;
}
.principle__block {
	display: block;
}
}
@media screen and (max-width: 450px) {
	.map__contact {
		width: 183px;
		height: 214px;
		position: absolute;
		top: 72px;
		right: 1px;
		padding-top: 12px;
	}
	.map__contact h2 {
		font-size: 16px;
		font-weight: 800;
		line-height: 0.5em;
	}
	.map__contact a {
		font-size: 12px;
		font-weight: 400;
		line-height: 0.5em;
	}
	.map__contact p {
		font-size: 12px;
		font-weight: 400;
		line-height: 0.5em;
	}
	.map__contact h3 {
		font-size: 14px;
		font-weight: 600;
		line-height: 0.5em;
	}
	#map {
		width: 100%;
		height: 330px;
		margin-top: 20px;
	}
	.wrap__item {
		width: 250px;
	}
	.txt_arenda {
		padding: 0px 40px 0px 12%;
	}
	.social-wrap-txt {
		width: 100%;
		max-width: 350px;
		margin: 0 auto;
		padding: 10%;
	}

	.img__arenda {
		padding: 24px 0px 0px 12%;
	}
	.txt_pokupka {
		padding: 30px 84px 0px 12%;
	}

	.img__pokupka {
		padding: 0px 0px 0px 12%;
	}
	.principle-wrap {
		max-width: 350px;
		padding: 10px;
	}
	.scrollup{
		right:25px;
		}
}
